<!DOCTYPE html>
	<html>
	<head>
		<title>Integration <%= integration.metadata.name%> diagram</title>
		<link rel="stylesheet" href="/css/camel.css" />
		<link rel="stylesheet" href="/css/v0.0.1.css" />
		<script src="/js/client.js"></script>
		<script type=text/javascript>
			window.onload = function() {
			    var frameRefreshInterval = setInterval(function() {
			        document.getElementById("IFRAME").src = document.getElementById("IFRAME").src
			    }, 5000);
			}
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0-rc.8/mermaid.min.js"></script>
		<script>
			mermaid.initialize({startOnLoad:true});
		</script>
	</head>

	<body>

		<%- include('include/header'); -%>
		<div class="body">
			<%- include('include/nav'); -%>
			<main class="article">
				<h1><a href="/namespace/<%= namespace%>"><%= namespace%></a> > <%= integration.metadata.name%> > diagram</h1>
				<div id="DIAGRAM" class="mermaid">
					<%= diagram %>
				</div>
			</main>
		</div>
</body>
</html>
