<!DOCTYPE html>
	<html>
	<head>
		<title>Integration: <%= integration.metadata.name%></title>
		<!-- code mirror -->
		<link rel=stylesheet href="/codemirror-5.58.1/doc/docs.css">
		<link rel="stylesheet" href="/codemirror-5.58.1/lib/codemirror.css">
		<link rel="stylesheet" href="/codemirror-5.58.1/addon/hint/show-hint.css">
		<script src="/codemirror-5.58.1/lib/codemirror.js"></script>
		<script src="/codemirror-5.58.1/addon/hint/show-hint.js"></script>
		<script src="/codemirror-5.58.1/addon/hint/anyword-hint.js"></script>
		<script src="/codemirror-5.58.1/mode/groovy/groovy.js"></script>
		<!-- code mirror -->
		<link rel="stylesheet" href="/css/camel.css" />
		<link rel="stylesheet" href="/css/v0.0.1.css" />
		<script src="/js/client.js"></script>
		<script type=text/javascript>
			window.onload = function() {
			    var frameRefreshInterval = setInterval(function() {
			        document.getElementById("IFRAME").src = document.getElementById("IFRAME").src
			    }, 5000);
			}
		</script>
	</head>

	<body>

		<%- include('include/header'); -%>
		<div class="body">
			<%- include('include/nav'); -%>
			<main class="article">
				<h1><a href="/namespace/<%= namespace%>"><%= namespace%></a> > <%= integration.metadata.name%></h1>
				<div>Status: <%= integration.status.phase%></div>
				<div>Pods (1): <%= pod %> [<a href="#">scale up &uarr;</a> | <a href="#">scale down &darr;</a>]</div>
				<div>Camel K version: <%= integration.status.version%></div>
				<div><a href="./<%= integration.metadata.name%>/diagram">Look at the integration diagram</a></div>
				<hr>
				<div>
					<h2>Sources</h2>
					<% for(var i=0; i < integration.spec.sources.length; i++) {
						%>
						<div>Name: <%= integration.spec.sources[i].name%></div>
						<div>Created by: <%= integration.metadata.labels.owner %></div>
						<div>Namespace permissions: <%= integration.metadata.labels.permission %></div>
						<br><br>
						<div class="tabs">
							<span class="selected">Groovy</span>
							<span>Java</span>
							<span>Javascript</span>
							<span>YAML</span>
						</div>
						<textarea id="INTEGRATION"><%= integration.spec.sources[i].content%></textarea>
						<div>Use CTRL+Space for typeahead suggestions</div>
						<br><br>
						<%if (integration.metadata.labels.owner == user || integration.metadata.labels.permission == "editor"){
							%>
							<div id="BUTTON">
									<button onclick="patchIntegration('<%= namespace %>', '<%= integration.metadata.name %>', getCode()); return false;">Update</button>
							</div>
							<%
						}
					 } %>
					<hr>
					<h2>Integration log</h2>
					<iframe id="IFRAME" width="100%" height="320" src="http://localhost:8080/api/v1/namespaces/<%= namespace %>/pods/<%= pod %>/log?tailLines=20"></iframe>
					<hr>
					<!-- Traits -->
					<%
					var traits = integration.spec.traits;
					if (traits){
					%>
						<h2>Traits</h2>
						<%
						for (var key in traits) {
						    if (traits.hasOwnProperty(key)) {
									%>
									<div><%= key %></div>
									<%
						    }
						}
					}
					%>

					<!-- Dependencies -->
					<h2>Dependencies</h2>
					<% for(var i=0; i < integration.status.dependencies.length; i++) {
						%>
						<div><%= integration.status.dependencies[i]%></div>
					<% } %>
				</div>
				<!-- Watch integrations: http://localhost:8080/apis/camel.apache.org/v1/watch/namespaces/<%= namespace %>/integrations/<%= integration.metadata.name%> -->
			</main>
		</div>
		<%- include('include/footer'); -%>
		<script>
		 CodeMirror.commands.autocomplete = function(cm) {
			 cm.showHint({hint: CodeMirror.hint.anyword});
		 }

		 var editor = CodeMirror.fromTextArea(document.getElementById("INTEGRATION"), {
			 lineNumbers: true,
			 extraKeys: {"Ctrl-Space": "autocomplete"}
		 });

		 var orig = CodeMirror.hint.anyword;
		 CodeMirror.hint.anyword = function(cm) {
		 		var inner = orig(cm) || {from: cm.getCursor(), to: cm.getCursor(), list: []};
				inner.list.push("knative:channel/aws-sqs");
				inner.list.push("knative:channel/kafka");
				inner.list.push("kamelet:telegram-text-source");
				inner.list.push("kamelet:my-company-log-sink");
				return inner;
		 };

		 function getCode(){
	    var text = editor.getValue();
	    return text;
		 }
	 </script>
</body>
</html>
