<!DOCTYPE html>
	<html>
	<head>
		<title>Integration: <%=metadata.name%></title>
		<!-- code mirror -->
		<link rel=stylesheet href="/codemirror-5.58.1/doc/docs.css">
		<link rel="stylesheet" href="/codemirror-5.58.1/lib/codemirror.css">
		<link rel="stylesheet" href="/codemirror-5.58.1/addon/hint/show-hint.css">
		<script src="/codemirror-5.58.1/lib/codemirror.js"></script>
		<script src="/codemirror-5.58.1/addon/hint/show-hint.js"></script>
		<script src="/codemirror-5.58.1/addon/hint/anyword-hint.js"></script>
		<script src="/codemirror-5.58.1/mode/groovy/groovy.js"></script>
		<!-- code mirror -->

		<script src="/js/client.js"></script>
	</head>

	<body>

	<div class="content">
		<h1><%=metadata.name%></h1>
		<div>Status: <%=status.phase%></div>
		<div>Camel K version: <%=status.version%></div>
		<h2>Sources</h2>
		<% for(var i=0; i < spec.sources.length; i++) {
			%>
			<div><%= spec.sources[i].name%></div>
			<textarea id="INTEGRATION"><%= spec.sources[i].content%></textarea>
			<br><br>
			<div id="BUTTON">
					<button onclick="patchIntegration('<%=metadata.name%>', getCode()); return false;">Update</button>
			</div>
			<hr>
		<% } %>
		<h2>List of dependency used</h2>
		<% for(var i=0; i < status.dependencies.length; i++) {
			%>
			<div><%= status.dependencies[i]%></div>
		<% } %>
	</div>

	<script>
	 CodeMirror.commands.autocomplete = function(cm) {
		 cm.showHint({hint: CodeMirror.hint.anyword});
	 }

	 var editor = CodeMirror.fromTextArea(document.getElementById("INTEGRATION"), {
		 lineNumbers: true,
		 extraKeys: {"Ctrl-Space": "autocomplete"}
	 });

	 function getCode(){
    var text = editor.getValue();
    return text;
	 }
 </script>

</body>
</html>
