<!DOCTYPE html>
	<html>
	<head>
		<title>List of integrations for <%= namespace%> namespace</title>
		<link rel="stylesheet" href="/css/camel.css" />
		<link rel="stylesheet" href="/css/v0.0.1.css" />
		<script src="/js/client.js"></script>
	</head>

	<body>

	<%- include('include/header'); -%>
	<div class="body">
		<%- include('include/nav'); -%>
		<main class="article">
			<h1><%= namespace%> > all</h1>
			<table class="list">
				<tr>
					<th>Name</th>
					<th>Phase</th>
					<th>Owner</th>
					<th>Actions</th>
				</tr>
				<%
				var filteredIntegrations = integrations.filter(i => i.metadata.labels && (i.metadata.labels.owner == user || i.metadata.labels.permission != "private"));
				for(var i=0; i < filteredIntegrations.length; i++) {
					%>
					<tr id="<%= filteredIntegrations[i].metadata.name %>">
						<td><%= filteredIntegrations[i].metadata.name %></td>
						<td><%= filteredIntegrations[i].status.phase %></td>
						<td><%= filteredIntegrations[i].metadata.labels.owner %></td>
						<td>
							<a href="/namespace/<%= namespace %>/integration/<%= filteredIntegrations[i].metadata.name %>">edit</a>
							<%
							if (filteredIntegrations[i].metadata.labels.owner == user || filteredIntegrations[i].metadata.labels.permission == "editor"){
								%>
								| <a href="#" onclick="deleteIntegration('<%= namespace %>', '<%= filteredIntegrations[i].metadata.name %>'); return false;">delete</a>
							<%
							}
							%>
						</td>
					</tr>
				<% } %>
				<tr>
					<td colspan="4"><button><a href="/namespace/<%= namespace %>/create">+ new integration</a></button></td>
				</tr>
			</table>
		</main>
	</div>

	<%- include('include/footer'); -%>
</body>
</html>
